
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  height:50px;

  float:left;
  border-radius: 50%; 
}

header {
  background: #ec6f75;
  
}
.userSearch {
  display: inline-block;
}

  h2 {
  text-align: center;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  

}

footer {
  background: #ec6f75;
  text-align: center;
  color: white;
  height: 70px;
  padding-top: 10px;  
}
 .newDiv {
  width: 70%;
  margin: 0 auto;
}


.icon {
  color: white;
  font-size: 30px;
  
  
}

.searchDiv {
  width: 70%;
  margin: 0 auto;
}


.noSearch{
  color: black;
}

.hidden {
  overflow: hidden;
}



.headerSide {
  display: flex;
    justify-content: space-around;
}

.right {
  display: -webkit-inline-box;
  height:50px;
}
li {
  margin-right: 15px;
  margin-top: 10px;

}

.lista {
  padding-top: 10px;
}
a:hover {
  text-decoration:none; 
}

.clearfix::before, .clearfix::after{
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

.cards {
  
    width: 20%;
   float: left;
   margin: 80px;
   margin-left: 110px
  
}
