html, body {
  height: 100%;;
}

.heigh {
  height: 100vh;
}

img {
  height:50px;

  float:left;
  border-radius: 50%; 
}

header {
  background: #ec6f75;
  
}
.userSearch {
  display: inline-block;
}

  h2 {
  text-align: center;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  

}

footer {
  background: #ec6f75;
  text-align: center;
  color: white;
  height: 70px;
  padding-top: 10px;  
  position: relative;
  clear: both;
}

 .newDiv {
  width: 70%;
  margin: 0 auto;
}


.icon {
  color: white;
  font-size: 30px;
  
  
}

.searchDiv {
  width: 70%;
  margin: 0 auto;
}


.noSearch{
  color: black;
}

.hidden {
  overflow: hidden;
}



.headerSide {
  display: flex;
    justify-content: space-around;
}

.right {
  display: -webkit-inline-box;
  height:50px;
}
li {
  margin-right: 15px;
  margin-top: 10px;

}

.lista {
  padding-top: 10px;
}
a:hover {
  text-decoration:none; 
}

.clearfix::before, .clearfix::after{
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

.cards {
  
    width: 20%;
   float: left;
   margin: 80px;
   margin-left: 110px
  
}

